{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Rango
{% endblock %}
    

{% block body_block %}
<h1>TechPriest says...</h1>
<div>
    here is the about page. <br />
    <strong>{{ techmessage }}</strong><br />
    <p>Visits: {{ visits }}</p>
</div>
<div>
    <a href="/rango/">Index</a><br />
    <img src="{% static 'images/techpriest.jpg' %}"
        alt="Picture of a TechPriest of Mars" /> 
        <!-- New line -->
</div>
<div>
    <img src = "{{ MEDIA_URL }}cat.jpg"
    alt = "Picture of a cat (of Mars)">
</div>
{% endblock %} 
    
    <!-- <body>
        <h1>Rango (TechPriest) says...</h1>
        <div>
            here is the about page. <br />
            <strong>{{ techmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/techpriest.jpg' %}"
                alt="Picture of a TechPriest of Mars" /> 
                <!-- New line -->
        <!-- </div>
        <div>
            <img src = "{{ MEDIA_URL }}cat.jpg"
            alt = "Picture of a cat (of Mars)">
        </div>
    </body>
</html> --> -->
